.nav{
    border:  solid 3px rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.nav_input{
    border-radius: 10px;
    border: solid 2px white;
    background-color: rgba(137, 43, 226, 0.205);
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.button{
    margin-top: 5px;
    margin-left: 3px;
    border: solid 2px white ;
    color: white;
    border-radius: 5px;
}
.male{
    background-color: blue;
}
.female{
    background-color: rgb(200, 15, 157);
}
.unknown{
    background-color: darkgreen;
}
.button:hover{
    font-size: 17px;
    color: rgb(44, 208, 15);
}